# Project "Solutions" - to be revealed after each project deadline

# mini Project 1
mini_project/project_1/code

# mini Project 2
mini_project/project_2/code

# mini Project 3
mini_project/project_3/code

# BIG project/final project
BIG_project/code