html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
  font-size: 30px;
  text-align: center;
}

ul {
  display: table;
  margin: 0 auto;
  text-align: left;
}

body div {
  margin-bottom: 100px;
}